option_settings:
  aws:elasticbeanstalk:application:environment:
    CORECLR_ENABLE_PROFILING: "1"
    CORECLR_PROFILER: "{918728DD-259F-4A6A-AC2B-B85E1B658318}"
    CORECLR_PROFILER_PATH: "/opt/aws-otel-dotnet/linux-x64/OpenTelemetry.AutoInstrumentation.Native.so"
    DOTNET_STARTUP_HOOKS: "/opt/aws-otel-dotnet/net/OpenTelemetry.AutoInstrumentation.StartupHook.dll"
    DOTNET_ADDITIONAL_DEPS: "/opt/aws-otel-dotnet/AdditionalDeps"
    DOTNET_SHARED_STORE: "/opt/aws-otel-dotnet/store"
    OTEL_DOTNET_AUTO_HOME: "/opt/aws-otel-dotnet"
    OTEL_DOTNET_AUTO_PLUGINS: "AWS.Distro.OpenTelemetry.AutoInstrumentation.Plugin, AWS.Distro.OpenTelemetry.AutoInstrumentation"
    OTEL_RESOURCE_ATTRIBUTES: "service.name=GamesphereTournamentHub"
    OTEL_EXPORTER_OTLP_PROTOCOL: "http/protobuf"
    OTEL_EXPORTER_OTLP_ENDPOINT: "http://127.0.0.1:4316"
    OTEL_AWS_APPLICATION_SIGNALS_EXPORTER_ENDPOINT: "http://127.0.0.1:4316/v1/metrics"
    OTEL_METRICS_EXPORTER: "none"
    OTEL_AWS_APPLICATION_SIGNALS_ENABLED: "true"
    OTEL_TRACES_SAMPLER: "xray"
    OTEL_TRACES_SAMPLER_ARG: "http://127.0.0.1:2000"
